runnerImage:
  image: dreamsports.jfrog.io/d11-docker-artifacts/actions-runner-maven:ubuntu-20.04-1
  pullPolicy: IfNotPresent
  imagePullSecrets:
    - name: dsjfrog

labels:
  - self-hosted
  - linux
  - X64
  - odin-component-interface

resources:
  limits:
    cpu: 2000m
    memory: 2Gi
  requests:
    cpu: 1000m
    memory: 1Gi

autoscaling:
  enabled: true
  minReplicas: 0
  maxReplicas: 20
