name: CI Checks
on:
  pull_request:
    types:
      - synchronize
      - opened
    branches:
      - main

jobs:
  ci-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0
        with:
          fetch-depth: 0

      - name: Run pre-commit checks
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd #v3.0.1
        with:
          extra_args: --all-files

      - name: Set up JDK 17
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 #v5.0.0
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Set up Maven
        uses: stCarolas/setup-maven@d6af6abeda15e98926a57b5aa970a96bb37f97d1 #v20
        with:
          maven-version: 3.8.2

      - name: Validate current version
        run: .ci/scripts/check-project-version.sh
        continue-on-error: false

      - name: Verify Build and Run Code Analysis
        run: mvn clean verify --no-transfer-progress

      - name: Upload CodeNarc Report
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 #v4.6.2
        with:
          name: codenarc-report
          path: target/CodeNarc-Report.html
          retention-days: 7
