name: CI Checks
on:
  pull_request:
    types:
      - synchronize
      - opened
    branches:
      - main

jobs:
  ci-checks:
    runs-on: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
          overwrite-settings: false

      - name: Set up Maven
        uses: stCarolas/setup-maven@v4.5
        with:
          maven-version: 3.8.2

      - name: Build Jar
        run: mvn clean package --no-transfer-progress
