name: CI Checks
on:
  pull_request:
    types:
      - synchronize
      - opened
    branches:
      - main

jobs:
  ci-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Run pre-commit checks
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Set up Maven
        uses: stCarolas/setup-maven@v4.5
        with:
          maven-version: 3.8.2

      - name: Verify Build and Run Code Analysis
        run: mvn clean verify --no-transfer-progress

      - name: Upload CodeNarc Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: codenarc-report
          path: target/CodeNarc-Report.html
          retention-days: 7
