name: Main branch merge checks

on:
  pull_request:
    types:
      - synchronize
      - opened
    branches:
      - main

env:
  ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true

jobs:
  validations:
    runs-on: [ ubuntu-latest ]
    name: Validations
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
          overwrite-settings: false

      - name: Set up Maven
        uses: stCarolas/setup-maven@v4.5
        with:
          maven-version: 3.8.2

      - name: Validate current version
        run: .ci/scripts/check-project-version.sh
        continue-on-error: false
