# This workflow broadly does 2 tasks-
# (1) Create/Update Release drafts
# (2) Auto Label PR's

# The update_release_draft job handles these tasks, on the basis of event which triggered workflow.
# (1) if push to main by merging PR.
# (2) if pull request opened, reopened, or synchronized (commit push)

name: Draft

on:
  push:
    branches:
      - main
  # pull_request event is required only for auto-labeler
  pull_request:
    types: [opened, reopened, synchronize]

env:
  ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true

jobs:
  update-release-draft:
    runs-on: [ self-hosted, linux, X64, odin-component-interface ]

    outputs:
      tag-name: ${{ steps.release-drafter.outputs.tag_name }}

    steps:
      - id: release-drafter
        uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          commitish: main
