# This workflow builds and publishes artifacts when a GitHub release is published.

name: Publish Release

on:
  release:
    types: [ released ]

env:
  ARTIFACT_NAME: odin-component-interface

jobs:
  publish-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Set up Maven
        uses: stCarolas/setup-maven@v4.5
        with:
          maven-version: 3.8.2

      - name: Setup git config
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Get version from tag
        id: get_version
        run: |
          releaseVersion="${GITHUB_REF/refs\/tags\//}"
          releaseVersion="${releaseVersion//v/}"
          echo "Publishing version : ${releaseVersion}"
          echo "VERSION=$releaseVersion" >> $GITHUB_OUTPUT

      - name: Update version pom.xml
        run: mvn versions:set -DnewVersion=${{ steps.get_version.outputs.VERSION }}

      - name: Build Jar
        run: mvn clean package --no-transfer-progress

      - name: Upload JAR to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./target/${{ env.ARTIFACT_NAME }}-${{ steps.get_version.outputs.VERSION }}-jar-with-dependencies.jar
          asset_name: ${{ env.ARTIFACT_NAME }}-${{ steps.get_version.outputs.VERSION }}.jar
          asset_content_type: application/java-archive

      - name: Bump version
        if: github.event.release.target_commitish == 'main'
        run: .ci/scripts/bump-version.sh
